body {
  margin: 0;
  padding: 1%;
  height: 95vh;
}
main {
  min-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 37%,
    rgb(162, 128, 204) 100%
  );
}
/* Typography */

/* Images */
.pin_img {
  height: 35px;
  margin-right: 1rem;
}
/* Sidebar */

.sidebar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 37%,
    rgb(162, 128, 204) 100%
  );
  border-radius: 16px 0px 0px 15px;
  width: 30%;
  color: whitesmoke;
  padding: 1rem;
}
header {
  display: flex;
  align-items: baseline;
}

/* Form starts */
.form {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 40%;
  font-size: 1rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  max-height: 100px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
}

.form__input:focus {
  outline: none;
}

.form__btn {
  /* display: none; */
  border: none;
  padding: 0.3rem 1rem;
  background-color: rgb(34, 34, 34);
  color: aliceblue;
}
/* form ends */

/* Map */
#map {
  width: 70%;
  height: 100%;
}
/* Popups */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: rgb(31, 1, 65);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: rgb(31, 1, 65);
}

.homes-popup .leaflet-popup-content-wrapper {
  border-left: 8px solid white;
}
.places-popup .leaflet-popup-content-wrapper {
  border-left: 8px solid rgb(253, 153, 228);
}
